*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(239,90,36);
  background: radial-gradient(circle, rgba(239,90,36,1) 50%, rgba(0,82,155,1) 100%);
  margin: 0;
}
/*** ESTILOS BOTÓN SLIDE LEFT ***/
.ov-btn-slide-left {
  background: #fff; /* color de fondo */
  color: #ef5a24; /* color de fuente */
  border: 2px solid #ef5a24; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 10px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-slide-left:hover {
  color: #fff; /* color de fuente hover */
}
.ov-btn-slide-left::after {
  content: "";
  background: #ef5a24; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.ov-btn-slide-left:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.container {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input, button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 0%;
  border: solid 0.5px;
}

button {
  background-color: #ef5a24;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

/* button:hover {
  background-color: #00529b;
} */

#mensaje {
  font-size: 32px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  transform: scale(0.5) rotate(0deg);
  transition: all 0.5s ease-in-out;
}

/* Animación de rebote y rotación */
@keyframes bounceIn {
  0% {
    transform: scale(0.5) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) rotate(45deg);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

/* Efecto de fondo animado */
@keyframes colorChange {
  0% {
    background-color: #FC3723;
  }
  50% {
    background-color: #FC8323;
  }
  100% {
    background-color: #FCA723;
  }
}

/* Estilo cuando se activa la animación */
#mensaje.success {
  animation: bounceIn 1s ease forwards, colorChange 3s ease-in-out infinite;
}

/* #tiempoTranscurrido {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
} */



